$textColor: #312c32;
$lightTextColor: #5f5f5f;
$textHoverColor: #bababa;
$textLightHoverColor: #dedede;
$borderColor: #dedede;
$lightBorderColor: #f5f5f5;
$hoverBorderColor: #9a9a9a;
$shadowColor: #ededed;
$darkShadow: #f5f5f5;
$darkShadowColor: #dedede;
$iconBackgroundColor: #f5f5f5;
$iconBackgroundHoverColor: #dedede;
$lightBackgroundColor: #fafafa;