@font-face {
  font-family: 'Amaranth';
  src: url('../fonts/Amaranth-Regular.woff2') format('woff2'), url('../fonts/Amaranth-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Pacifico';
  src: url('../fonts/Pacifico-Regular.woff2') format('woff2'), url('../fonts/Pacifico-Regular.woff') format('woff');
}